* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #8341a2;
    width: 100%;
    height: 75px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo img {
    width:130px ;
    height: auto;
    margin-left: 220px;
    margin-top: 15x;
}
.h_links {
    display: flex;
    gap: 10px;
    margin-right: 80px;
}
.h_links a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.Bienvenida{
  background-image: url('imagenes/imagen.png');
  background-size: cover;       /* Escala la imagen para cubrir toda la sección */
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
  height: 500px;                /* Altura de la sección */
  display: flex;
  padding-bottom: 0px; 
  background-color: #f7f7f7;
} 
.Bienvenida h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color:#8341a2;
    margin-top: 50px;
    margin-left: 520px;
}
.Formulario {
    background-color:#f7f7f7;
    height: 900px;       
}
.titulo h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color:#8341a2;
    margin-left: 200px;
}
.titulo img{
    width: 50px;
    margin-left: 200px;
}
.nueva-mascota button{
    background-color: #f7f7f7;
    font-size: 10px;
    border-radius: 50px;
    border: 2px solid #54bdf8;
    font-family: Arial, Helvetica, sans-serif;
    color: #54bdf8;
    padding: 10px 30px 10px;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 4px 0 #54bdf8;
}
.nueva-mascota button:active {
  transform: translateY(3px);      
  box-shadow: 0 1px 0 #54bdf8;     
}
.nueva-mascota{
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    margin-top: -45px
}

.form-container {
  background-color: white;
  border-radius: 12px;
  padding: 30px;
  margin: auto;
  box-shadow: 0 0px 10px rgba(0,0,0,0.1);
  height: 600px;
  width: 1000px;
  margin-top: 100px;
  margin-left: 200px;
  
}
.form-group { /*columnas*/
  margin-bottom: 20px;
  width: 300px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.form-row { /*filas*/
  display: flex;
  gap: 100px;
  margin-bottom: 0px;
  justify-content: space-between;
  
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],select,input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #f0f8ff; /* color celeste claro, por ejemplo */
}


input[type="file"] {
  padding: 8px;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 8px;
}
.inline-input {
  flex: 1;
  margin-top: 25px;
  margin-left: 10px;
}

.add-link {
  display: inline-block;
  margin-top: 10px;
  color: #54bdf8;
  font-size: 0.9em;
  text-decoration: none;
}

.add-link:hover {
  text-decoration: none;
}


.submit-btn {
  background-color: #54bdf8;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #54bdf8;
}
.note {
  color: #8341a2;
  font-size: 0.9em;
}

span {
  color: #8341a2;
}
.form-group button{
    margin-left: 750px;
}
.fondo-f-cont {
  width: 100%;
  background-image: url('imagenes/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f7f7f7;
  height: 1000px;
  margin-right: 250px;
}

.Contacto, footer {
  background: transparent; /* ¡clave! no tapar el fondo */
}


