* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    background-color: #8341a2;
    width: 100%;
    height: 75px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo img {
    width:130px ;
    height: auto;
    margin-left: 220px;
    margin-top: 15x;
}
.h_links {
    display: flex;
    gap: 10px;
    margin-right: 80px;
}
.h_links a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.Bienvenida{
  background-image: url('imagenes/imagen.png');
  background-size: cover;       /* Escala la imagen para cubrir toda la sección */
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
  height: 500px;                /* Altura de la sección */
  display: flex;
  padding-bottom: 0px; 
}
.Bienvenida h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color:#8341a2;
    margin-top: 50px;
    margin-left: 520px;
}


